{{ block title }}
<center> Situation {{round_number}} Second Decision </center>
{{ endblock }}
{{ block content }}

</br>

<div class="Image">

</br>
    <div class="box">
        <div class="containerA" style="margin-left:auto;margin-right:auto">
        <div class="containerB">

        <center><u>50%</u></center>
        <center> {{urnA_H}}/100 <span style="color:green"><b>Green</b></span></center>
        </div>

        <div class="containerB">
        <center><u>50%</u></center>
        <center>{{urnA_L}}/100 <span style="color:green"><b>Green</b></span></center>
        </div>
            </div>
        </br>
            <center><button type="Button" onclick="Draw(1)" id="b1">Choose A</button></center>
        </div>

    <div class="box">

        <div class="containerA" style="margin-left:auto;margin-right:auto">
        <div class="containerB">

        <center><u>50%</u></center>
        <center>{{urnB_H}}/100 <span style="color:green"><b>Green</b></span></center>
        </div>

        <div class="containerB">
        <center><u>50%</u></center>
        <center>{{urnB_L}}/100 <span style="color:green"><b>Green</b></span></center>
        </div>
            </div>
        </br>
            <center><button type="Button" onclick="Draw(2)" id="b2">Choose B</button></center>
        </div>


    <div class="box">

        <div class="containerA" style="margin-left:auto;margin-right:auto">
        <div class="containerB">

        <center><u>50%</u></center>
        <center>{{urnC_H}}/100 <span style="color:green" ><b>Green</b></span></center>
        </div>

        <div class="containerB">
        <center><u>50%</u></center>
        <center>{{urnC_L}}/100 <span style="color:green"><b>Green</b></span></center>
        </div>
            </div>
        </br>
            <center><button type="Button" onclick="Draw(3)" id="b3">Choose C</button></center>
        </div>

    <div class="box">

        {% if urnD_H == urnD_L %}
            <div class="containerA" style="margin-left:auto;margin-right:auto">
            <div class="containerB">

            <center><u>100%</u></center>
            <center>{{urnD_H}}/100 <span style="color:green"><b>Green</b></span></center>
        {% endif %}

         {% if urnD_H != urnD_L %}
        <div class="containerA" style="margin-left:auto;margin-right:auto">
        <div class="containerB">

        <center><u>50%</u></center>
        <center>{{urnD_H}}/100 <span style="color:green" ><b>Green</b></span></center>
        </div>

        <div class="containerB">
        <center><u>50%</u></center>
        <center>{{urnD_L}}/100 <span style="color:green"><b>Green</b></span></center>
        {% endif %}

        </div>
            </div>
        </br>
            <center><button type="Button" onclick="Draw(4)" id="b4">Choose D</button></center>
        </div>

</div>

</br>
</br>

<p>
    This decision is the second (and last) decision in Situation {{round_number}}. Below is a feedback table summarizing your
    choice and resulting ball(s) drawn in this Situation so far.
</p>

</br>
<center>
    <table>
      <tr>
        <th>Decision Number</th>
        <th>Urn Chosen</th>
        <th>Ball Drawn</th>
      </tr>
      <tr>
        <td>First</td>
        <td>{% if first_choice == 1 %}
      Urn A {% endif %} {% if first_choice == 2 %} Urn B {% endif %} {% if first_choice == 3 %} Urn C {% endif %} {% if first_choice == 4 %}
      Urn D {% endif %}</td>
        <td>{% if green1Drawn == 1 %} <span style="color:green"><b>Green</b></span>  {% endif %}
        {% if green1Drawn == 0 %} <span style="color:purple"><b>Purple</b></span> {% endif %}</td>
      </tr>
    </table>
</center>
</br>

<p>
    In the first decision, you chose {% if first_choice == 1 %}
  Urn A {% endif %} {% if first_choice == 2 %} Urn B {% endif %} {% if first_choice == 3 %} Urn C {% endif %} {% if first_choice == 4 %}
  Urn D {% endif %} and drew a {% if green1Drawn == 1 %} <span style="color:green"><b>green</b></span> ball. {% endif %}
    {% if green1Drawn == 0 %} <span style="color:purple"><b>purple</b></span> ball. {% endif %} Please choose an urn by clicking
    on the "Choose" button below the relevant urn. After you make your choice, you will be sent to the
    next page. On this next page, you will observe the ball that you drew from the chosen urn.
</p>

    <input type="hidden" name="second_choice" id="second_choice"/>
    <button hidden="true" id="Continue">Continue</button>


{{ endblock }}

{{ block styles }}

<style>
  .jar {
    width: 155px;
    height: 155px;
    border: 2px solid black;
    position: relative;
    display: flex;
  }

  .ball {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
  }
  .green {
    background-color: green;
  }
  .purple {
    background-color: purple;
  }

  .Image{
      display:flex;
  }

  .box{
      margin-right:25px;
      border:3px solid blue;
      padding:5px;
  }

  .containerA {
  width:260px;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center;
    border: 2px solid black;
    margin-right:25px;
  }

  .containerB{
    /*display: flex; !* Use flexbox *!*/
    /*flex-direction: column; !* Stack items vertically *!*/
    /*justify-content: center; !* Center items horizontally *!*/
    /*align-items: center; !* Center items vertically *!*/
      width:125px;
  }

.title {
    margin-bottom: 20px; /* Add space below the title */
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
<!--  grid-template-columns: auto auto 222px;-->
<!--  background-color: #2196F3;-->
  padding: 10px;
  border: 3px solid black;
}
.grid-item {
<!--  background-color: rgba(255, 255, 255, 0.8);-->
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

table, th, td {
  border: 1px solid black;
}
td,th {
  padding:10px;
}
</style>

<script>

    function Draw(value){
        document.getElementById("second_choice").value=value
        document.getElementById("Continue").hidden=false;
        document.getElementById("b1").disabled=true;
        document.getElementById("b2").disabled=true;
        document.getElementById("b3").disabled=true;
        document.getElementById("b4").disabled=true;
    }

</script>

{{ endblock }}
